body {
  background: #f5f5f5;
  font-family: 'Titillium Web', sans-serif;
  height: 100%;
}

.menu {
  background: #0b1b34;
  color: white;
  padding: 10px 0px 7px;
}

.menu h1 {
  font-size: 25px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.menu h1 span {
  color: #bfdd1f;
}

.menu ul {
  margin-top: 5px;
  float: right;
}

.menu ul li {
  font-size: 14px;
}

.menu ul li a {
  color: white;
}

.menu ul li a:hover, .menu ul li a:focus, .menu ul li a:active {
  text-decoration: none;
}

.menu ul li:first-child {
  border-right: 1px solid #19396d;
  padding-right: 10px !important;
}

.menu ul li:last-child {
  padding-left: 10px !important;
}

.menu ul li .fa {
  color: #bfdd1f;
  margin-right: 3px;
}

.banner {
  background: url("../img/banner-img.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding-top: 75px;
  padding-bottom: 100px;
}

.banner h4 {
  font-size: 45px;
  color: white;
  text-align: center;
  font-family: 'Arima Madurai', cursive;
}

.banner .btn-primary {
  background-color: #0b1b34;
  margin-top: 50px;
  border-radius: 10px;
  border: 1px solid #0b1b34;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.banner .btn-primary:hover {
  border: 1px solid #10284e;
  background-color: #10284e;
}

.divisor-50 {
  margin-top: 50px;
}

.conteudo h2 {
  font-size: 35px;
}
